 body{
    background-color: aqua;
}
.heading{
   
     text-align: center;
}
.first
{
    float: left;
    display:block;
    padding-left: 100px;
    padding-bottom: 100px;
    border-radius: 5px;
}
.box{
    margin-left: 280px;

}
